<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YKUpDownIndicator.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>YKUpDownIndicatorExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6009B2161ECA03F4002B566B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6009B21F1ECA03F4002B566B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>601F5B891ECFFA31007AED98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>601F5B9C1ECFFA31007AED98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
